/* Button styling */
button {
  height: 50px;
  padding: 0 50px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  border-radius: 7px;
  background-color: lightgray;
  border: none;
  margin: 25px 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

button:hover {
    cursor: pointer;
}
button:focus{
	outline:none;
}
